# **0. Imports**

In [86]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.stats import pearsonr
#from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
#from statsmodels.tsa.api import VAR
import matplotlib.pyplot as plt

In [92]:
import statsmodels

ModuleNotFoundError: No module named 'statsmodels'

## **0.1 Load Dataset**

In [70]:
data = pd.read_csv('../data/data_trab2_econometria.csv')
data.head()

   Data inflacao cambio  juros
0  2003     1,98   3,44  26,38
1  2003     2,19   3,59  24,31
2  2003     1,14   3,45  23,58
3  2003     1,14   3,12  24,90
4  2003     0,85   2,95  26,38

# **1.0 Data Description**

In [71]:
df1 = data.copy()

## **1.1 Rename columns**

In [72]:
cols_new = ['date','cpi', 'exchange_rate','interest_rate']
df1.columns = cols_new

## **1.2 Data Dimensions**

In [73]:
print('Number of rows:', format(df1.shape[0]))
print('Number of columns:', format(df1.shape[1]))

Number of rows: 223
Number of columns: 4

## **1.3 Data types**

In [74]:
df1.dtypes

date              int64
cpi              object
exchange_rate    object
interest_rate    object
dtype: object

## **1.4 Check NA**

In [75]:
df1.isna().sum()

date             0
cpi              0
exchange_rate    0
interest_rate    0
dtype: int64

## **1.5 Change Types**

In [76]:
df1['date'] = pd.to_datetime(df1['date'].astype(str))
#change comma to point decimal

cols = ['cpi', 'exchange_rate', 'interest_rate']

for col in cols:
    df1[col] = df1[col].apply(lambda x: x.replace(',', '.'))

In [80]:
df1['cpi'] = df1['cpi'].astype('float64')
df1['exchange_rate'] = df1['exchange_rate'].astype('float64')
df1['interest_rate'] = df1['interest_rate'].astype('float64')

## **1.6 Descriptive Statistical**

In [83]:
num_attributes = df1.select_dtypes(include = ['int64', 'float64'])
cat_attributes = df1.select_dtypes( exclude=['int64', 'float64', 'datetime64[ns]'])
num_attributes

      cpi  exchange_rate  interest_rate
0   1.980          3.440         26.380
1   2.190          3.590         24.310
2   1.140          3.450         23.580
3   1.140          3.120         24.900
4   0.850          2.950         26.380
..    ...            ...            ...
218 0.930          5.650          2.430
219 0.600          5.560          2.550
220 0.440          5.290          3.290
221 0.830          5.030          3.780
222 0.720          5.160          4.410

[223 rows x 3 columns]

### **1.5.1 Numerical Attributes**

In [84]:
#Central Tendency
ct1 = pd.DataFrame(num_attributes.apply(np.mean)).T
ct2 = pd.DataFrame(num_attributes.apply(np.median)).T


#Dispersion
d1 = pd.DataFrame(num_attributes.apply(np.std)).T
d2 = pd.DataFrame(num_attributes.apply(min)).T
d3 = pd.DataFrame(num_attributes.apply(max)).T
d4 = pd.DataFrame(num_attributes.apply(lambda x: x.max() - x.min())).T
d5 = pd.DataFrame(num_attributes.apply(lambda x: x.skew())).T
d6 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis())).T

#Concat
m = pd.concat([d1, d2, d3, d4, ct1, ct2, d5, d6]).T.reset_index()
#m.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
#m
m.columns = ['Attributes', 'Std', 'min', 'max', 'Range', 'mean', 'median', 'Skew', 'Kurtosis']
m

      Attributes   Std    min    max  Range   mean  median  Skew  Kurtosis
0            cpi 0.340 -0.590  2.190  2.780  0.473   0.440 1.081     3.934
1  exchange_rate 1.032  1.560  5.650  4.090  2.808   2.410 1.036     0.448
2  interest_rate 5.123  1.570 28.020 26.450 11.363  10.950 0.570     0.615

# **2.0 Modelling**